<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/login" security="none" />
    <http pattern="/static/css/*" security="none" />
    <http pattern="/static/js/*" security="none" />
    <http pattern="/static/img/*" security="none" />

    <http auto-config="true">
        <intercept-url pattern="/admin*" access="ROLE_ADMIN" />
        <intercept-url pattern="/responsable*" access="ROLE_RESPONSABLE" />
        <intercept-url pattern="/collaborateur*" access="ROLE_COLLABORATEUR" />
        <intercept-url pattern="/**" access="ROLE_USER" />
        <form-login
                login-page="/login"
                default-target-url="/"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password"
                login-processing-url="/j_spring_security_check"
                />
        <logout logout-success-url="/login?logout"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="pot" password="pot" authorities="ROLE_USER, ROLE_COLLABORATEUR, ROLE_RESPONSABLE, ROLE_ADMIN" />
                <user name="resp" password="resp" authorities="ROLE_USER, ROLE_COLLABORATEUR, ROLE_RESPONSABLE" />
                <user name="collabo" password="collabo" authorities="ROLE_USER, ROLE_COLLABORATEUR" />
                <user name="toz" password="toz" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <global-method-security secured-annotations="enabled" />

</beans:beans>